/* .p{
    color: white;
    background: black; */

    /* BOX MODEL */
    /* width: 50px;
    max-width: 50%;
    min-height: 70%;
    height: 100px;
    max-height: 50%;
    min-height: 70%;
    border: 5px red solid; */
    /* border-top: 20px green solid;
    border-left: 10px purple dotted;
    border-right: ;
    border-bottom: ; */
    /* margin: 10px 40px 0px 0px; */
    /* margin-top: ;
    margin-left: ;
    margin-right: ;
    margin-bottom: ; */
    /* padding: 20px 10px 15px 30px; */
    /* padding-top: ;
    padding-right: ;
    padding-bottom: ;
    padding-left: ; */
/* } */


/* div{ */
    /* PRIORIDAD DE REGLAS */
    /* background-color: red;
    background-color: green;
} */


/* SELECTORES BÁSICOS */
/* p{
 background: red;
 width: 100px;
 max-width: 50vw;
 min-width: 20vw;
 height: 100px;
 max-height: 20vh;
 min-height: 10vh;
}

.clase1{
    background-color: green;
}

#idparrafo{
    background: orange;
}

div p{
   background-color: purple; 
}

*{
    color: black;
    padding: 10px 0px;
}

[data-type="primary"]{
    color: aqua;
}

[type="text"]{
    background: red;
}

div, p{
    background: orange;
} */

/* ESPECIFIDAD */




/* COLOR */
/* p{
    color: red;
    background: green;
    border: 2px solid #e81868;
} */

/* div{
    width: 50px;
    height: 50px;
    background: red;
    margin: 10px;
} */

/* p{
    display: inline-block;

}

a{
    display: block;
    width: 300px;
} */

/* FLEXBOX */
/* body{
    margin: 0;
}
div{
    width: 50px;
    height: 50px;
    margin: 10px;
    background: red;
}

.contenedor{
    width: 100%;
    height: 100vh;
    background: green;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
} */


/* NORMA MARGIN 0 */
/* BOX SIZING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div{
    width: 300px;
    height: 300px;
    margin: 100px;
    background: red;
} */



/* ESPECIFIDAD MAS CLARA */
/* .t{
    color: aqua;
} */

/* div{
    color: white;
} */


/* INHERITANCE */
/* div{
    font-weight: 800;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.initial{
    color: initial;
    font-weight: initial;
    width: unset;
} */


/* FLEX BOX (WRITING MODE, WRAP, FLEX FLOW, FLEX, ORDER, ALIGN SELF) */
/* .contenedor{
    width: 100%;
    height: 100vh;
    background: green;
    display: flex; */
    /* flex-shrink: 1; */
    /* flex-wrap: wrap;
    align-items: start;
    justify-content: space-around; */
/* }

.item{
    width: 100px;
    min-width: 100px;
    height: 100px;
    background: red;
    margin: 10px;
}

.item2{
    order: 1;
}


.item1{
    order: 3;
}

.item3{
    order: 2;
} */



/* TEXT ALIGN */
/* div{
    margin: 200px;
    width: 200px;
    height: 200px;
    background: red;
}
p{
    text-align: center;
    writing-mode: vertical-lr;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
} */

/* SEUDOELEMENTOS */
/* p::first-letter{
    color: red;
    font-size: 20px;
}

p::before{
    content: "S";
}

p::after{
    content: "P";
}

p::first-line{
    color: green;
}

p::selection{
    color: red;
    background: blue;
}

input::placeholder{
    color: red;
}

ul::marker{
    color: red;
} */



/* SEUDOCLASES */
/* p:hover{
 background: blue;   
} */

/* a:active{
   background: red; 
}

button:focus{
    background: blue;
    outline: 2px dashed red;
    outline-offset: 5px;
} */

html{
    scroll-behavior: smooth;
}

/* #titulo2:target{
    background: red;
    PENDIENTE
}  */

/* a:visited{
    color: red;
}

input:disabled{
    background: blue;
}
input:enabled{
    background: red;
}

[type="checkbox"]:checked{
    box-shadow: 0px 0px 5px 5px green;
}

p:first-child{
    background: green;
}

p:last-child{
    background: orange;
}

li:nth-child(even){
    background: yellow;
}
img:not([alt]){
    background: red;
}
input:not([id]){
    background: purple;
} */




/* BORDER */
div{
    /* border: 2px dotted green; */
    /* border: 2px dashed green; */
    /* border: 2px solid green;
    border: 2px double green; */
    /* border: 2px groove green; */
    /* border: 2px ridge green; */
    /* border: 2px inset green; */
    /* border: 2px outset green;
    border-top: 5px dotted red; */
    /* border: 5px solid red;
    border-radius: 10px 20px 20px;
    border-bottom: ;
    border-top-left-radius: ; */
    /* border-image-source: url("url_img"); */
}


/* SOMBRAS */
div{
    border: 3px solid red;
    margin: 20px;
    box-shadow: 4px 5px 5px rgb(157, 32, 32);
    text-shadow: 4px 1px 1px black;
}

img{
    /* box-shadow: 5px 5px 5px black; */
    filter: drop-shadow(1px 1px 8px rgba(255, 0, 0, 0.338));
}