*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.animation{
    width: 200px;
    height: 100px;
    background: blue;
    animation: crecer 1000ms ease-in-out infinite;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out; /*ease; linear; ease-in; ease-out;*/
    animation-iteration-count: 20;
    animation-direction: reverse;
    animation-delay: 5s;
}


.step{
    width: 200px;
    height: 100px;
    background-color: blue;
    animation: crecer 1000ms ease-in-out infinite;
    animation-timing-function: steps(3, end);    
}

.paused{
    width: 200px;
    height: 100px;
    background-color: blue;
    animation: crecer 1000ms ease-in-out infinite;
}

.paused:hover{
    animation-play-state: paused;
}

@keyframes crecer {
    0%{
        width: 200px;
    }
    50%{
        width: 400px;
    }
    100%{
        width: 200px;
    }
}