*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.px{
    width: 100px;
    height: 100px;
    background: red;
    margin: 20px;
}

.percent{
    width: 50%;
    background: red;
    margin: 20px;
}