*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 100px;
    height: 100px;
}

.item-1{
    background: red;
}

.item-2{
    width: 700px;
    height: 200px;
    border: 2px solid black;
    background-image: url("https://img.freepik.com/foto-gratis/pintura-lago-montana-montana-al-fondo_188544-9126.jpg");
    /* background-image: url("./fondo1.jpg"); */
    background-size: 25%;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-position: 20%;
}

.attachment{
    background-size: cover;
    background-attachment: fixed;
}

.div-border{
    width: 500px;
    height: 250px;
    border: 10px solid rgba(255, 166, 0, 0.432);
    background-image: url("https://img.freepik.com/foto-gratis/pintura-lago-montana-montana-al-fondo_188544-9126.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
}