*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CON BOX-SHADOW PODEMOS AGREGAR SOMBRAS, EL PRIMER PARAMETRO CONTROLA LA ALINEACIÓN DE LA SOMBRA EN EL EJE X, EL SEGUNDO PARAMETRO MANEJA LA SOMBRA EN EL EJE Y Y EL TERCER PARAMETRO CONTROLA EL BLUR O DIFUSIÓN DE LA SOMBRA, Y POR ÚLTIMO PARAMETRO ES EL COLOR.
PUEDE LLEVAR MÁS PARAMETROS PERO SON OPCIONALES Y PARA CREAR SOMBRAS MÁS COMPLEJAS */
div{
    width: 100px;
    height: 100px;
    background: red;
    margin: 20px;
    box-shadow: 5px 5px 10px black;
}

/* CON TEXT-SHADOW AGREGAMOS SOMBRAS AL TEXTO, CON LOS MISMO PARAMETROS QUE BOX SHADOW */
p{
    text-shadow: 5px 5px 10px red;
}

/* OCUPANDO LA PROPIEDAD FILTER PODEMOS DAR UN SOMBREADO POR EL CONTORNO DE LAS IMG DE LA SIGUIENTE FORMA */
img{
    width: 300px;
    filter: drop-shadow(5px 5px 10px green);
}