*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ALGUNAS ETIQUETAS TIENEN POR DEFECTO UN FLUJO BLOCK, ES DECIR OCUPAN TODO EL ANCHO DEL CONTENEDOR */
/* LA ETIQUETA P ES UNO DE LOS ELEMENTOS BLOCK, ES COMO POR DEFECTO TIENEN ESTA PROPIEDAD */
p{
    display: block;
}

div{
    float: right;
    width: 100px;
    height: 100px;
    background: red;
}