
p{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
}

.style{
    font-style: italic;
}

.weight{
    font-weight: bolder;
}

.line-height{
    line-height: 40px;
}

.letter-spacing{
    letter-spacing: 4px;
}

.word-spacing{
    word-spacing: 30px;   
}

.text-transform{
    text-transform: lowercase;
    /* uppercase */
    /* capitalize */
}

a{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

.ident{
    text-indent: 40px;
}

.content{
    width: 400px;
    border: 2px solid black;
    max-height: 200px;
    overflow: hidden;
}

.align{
    text-align: justify;
    writing-mode: vertical-lr;
}

.orientation{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

@font-face {
    font-family: Raleway;
    src: url("./static/Raleway-Medium.ttf");
}

.elemento{
    font-family: Raleway;
}